@page
@model WebLab2.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.TransportName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transport.TransportName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transport.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transport.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transport.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transport.Group.TransportGroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transport.TransportId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
